{"swagger":"2.0","info":{"version":"1.0","title":"ERS Public API","license":{"name":"Proprietary","url":"http://www.srt-marine.com"}},"host":"ers.srt-deployment-dmz.network","basePath":"/","tags":[{"name":"Authentication","description":"Login Controller"},{"name":"Fishing activities","description":"Device Message Controller"},{"name":"Lookup Table","description":"Lookup Table Controller"},{"name":"common","description":"MMSI Pool Controller"},{"name":"ers-geofence-controller","description":"Ers Geofence Controller"},{"name":"forms","description":"Forms Controller"},{"name":"user-controller","description":"User Controller"},{"name":"vessel","description":"Installation Controller"},{"name":"weather","description":"Weather Alert Controller"}],"paths":{"/ers/activity-message/activity":{"post":{"tags":["Fishing activities"],"summary":"Post an activity operation","description":"Secured: ROLE_ERS_DEVICE\n","operationId":"createActivityUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"activity","description":"activity","required":true,"schema":{"$ref":"#/definitions/Activity Message - Activity"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Activity Message - Activity"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/activity-message/bunkering-change":{"post":{"tags":["Fishing activities"],"summary":"Post a bunkering change","description":"Secured: ROLE_ERS_DEVICE\n","operationId":"bunkeringChangeMessageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"message","description":"message","required":true,"schema":{"$ref":"#/definitions/Activity Message - Bunkering Change"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Activity Message - Bunkering Change"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/activity-message/catch-species":{"post":{"tags":["Fishing activities"],"summary":"Post a catch species","description":"Secured: ROLE_ERS_DEVICE\n","operationId":"catchSpeciesPostUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"species","description":"species","required":true,"schema":{"$ref":"#/definitions/Activity Message - Catch Species"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Activity Message - Catch Species"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/activity-message/landing-species":{"post":{"tags":["Fishing activities"],"summary":"Post a landing report species","description":"Secured: ROLE_ERS_DEVICE\n","operationId":"createLandingReportSpeciesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"species","description":"species","required":true,"schema":{"$ref":"#/definitions/Activity Message - Landing Report Species"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Activity Message - Landing Report Species"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/activity-message/pre-depart":{"post":{"tags":["Fishing activities"],"summary":"Post a pre-departure","description":"Secured: ROLE_ERS_DEVICE\n","operationId":"createPreDepartureUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"preDeparture","description":"preDeparture","required":true,"schema":{"$ref":"#/definitions/Activity Message - Pre Departure"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Activity Message - Pre Departure"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/activity-message/prior-notification":{"post":{"tags":["Fishing activities"],"summary":"Post a prior notification","description":"Secured: ROLE_ERS_DEVICE\n","operationId":"createPriorNotificationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"priorNotification","description":"priorNotification","required":true,"schema":{"$ref":"#/definitions/Activity Message - Prior Notification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Activity Message - Prior Notification"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/activity-message/text-message":{"post":{"tags":["Fishing activities"],"summary":"Post a text message","description":"Secured: ROLE_ERS_DEVICE\n","operationId":"postTextMessageUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"message","description":"message","required":true,"schema":{"$ref":"#/definitions/Activity Message - Text Message"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Activity Message - Text Message"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/activity-message/tranship-request":{"post":{"tags":["Fishing activities"],"summary":"Post a transhipment","description":"Secured: ROLE_ERS_DEVICE\n","operationId":"createTranshipmentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"transhipment","description":"transhipment","required":true,"schema":{"$ref":"#/definitions/Activity Message - Transhipment"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Activity Message - Transhipment"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/activity-message/tranship-species":{"post":{"tags":["Fishing activities"],"summary":"Post a transhipment species","description":"Secured: ROLE_ERS_DEVICE\n","operationId":"receiveTranshipmentSpeciesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"species","description":"species","required":true,"schema":{"$ref":"#/definitions/Activity Message - Transhipment Species"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Activity Message - Transhipment Species"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/form/GEN-1":{"post":{"tags":["forms"],"summary":"Post GEN-1","description":"Secured: ROLE_OBSERVER\nPost the GEN-1 form","operationId":"sendGen1formUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"report","description":"report","required":true,"schema":{"$ref":"#/definitions/FORM GEN-1"}}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"uuid"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/form/GEN-2":{"post":{"tags":["forms"],"summary":"Post GEN-2","description":"Secured: ROLE_OBSERVER\nPost the GEN-2 form","operationId":"sendGen2formUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"report","description":"report","required":true,"schema":{"$ref":"#/definitions/FORM GEN-2"}}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"uuid"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/form/GEN-3":{"post":{"tags":["forms"],"summary":"Post GEN-3","description":"Secured: ROLE_OBSERVER\nPost the GEN-3 form","operationId":"sendGen3formUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"report","description":"report","required":true,"schema":{"$ref":"#/definitions/FORM GEN-3 - Vessel Monitoring Record"}}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"uuid"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/form/GEN-5":{"post":{"tags":["forms"],"summary":"Post GEN-5","description":"Secured: ROLE_OBSERVER\nPost the GEN-5 form","operationId":"sendGen5formUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"report","description":"report","required":true,"schema":{"$ref":"#/definitions/FORM GEN-5 - Fish aggregating device information"}}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"uuid"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/form/LWSM":{"post":{"tags":["forms"],"summary":"Post LWSM","description":"Secured: ROLE_OBSERVER\nPost the LWSM form \nIf successful the ID that was assigned to the form will be returned","operationId":"sendLWSMformUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"report","description":"report","required":true,"schema":{"$ref":"#/definitions/FORM LWSM"}}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"uuid"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/form/RN-1":{"get":{"tags":["forms"],"summary":"Prepopulated RN-1","description":"Secured: ROLE_OBSERVER\nGet a version of the RN-1 form populated from the system","operationId":"getPrepopulateRN1FormUsingGET","produces":["*/*"],"parameters":[{"name":"tripId","in":"query","description":"The trip ID","required":false,"type":"string","allowEmptyValue":false},{"name":"vesselId","in":"query","description":"The vessel ID. This is meant to be the MMSI, but it is permissive enoughto accept vessel registration (although it is not recommended).","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FORM RN-1"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false},"post":{"tags":["forms"],"summary":"Post RN-1","description":"Secured: ROLE_OBSERVER\nPost the RN-1 form \nIf successful the ID that was assigned to the form will be returned","operationId":"sendRN1formUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"report","description":"report","required":true,"schema":{"$ref":"#/definitions/FORM RN-1"}}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"uuid"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/form/RN-2":{"post":{"tags":["forms"],"summary":"Post RN-2","description":"Secured: ROLE_OBSERVER\nPost the RN-2 form \nIf successful the ID that was assigned to the form will be returned","operationId":"sendRN2formUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"report","description":"report","required":true,"schema":{"$ref":"#/definitions/FORM RN-2"}}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"uuid"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/form/RN-3":{"post":{"tags":["forms"],"summary":"Post RN-3","description":"Secured: ROLE_OBSERVER\nPost the RN-3 form \nIf successful the ID that was assigned to the form will be returned","operationId":"sendRN3formUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"report","description":"report","required":true,"schema":{"$ref":"#/definitions/FORM RN-3"}}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"uuid"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/form/RN-4":{"post":{"tags":["forms"],"summary":"Post RN-4","description":"Secured: ROLE_OBSERVER\nPost the RN-4 form \nIf successful the ID that was assigned to the form will be returned","operationId":"sendRN4formUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"report","description":"report","required":true,"schema":{"$ref":"#/definitions/FORM RN-4"}}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"uuid"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/form/SPC-tag-recovery":{"post":{"tags":["forms"],"summary":"Post SPC Tag From","description":"Secured: ROLE_OBSERVER\nPost the LWSM form \nIf successful the ID that was assigned to the form will be returned","operationId":"sendSPCformUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"report","description":"report","required":true,"schema":{"$ref":"#/definitions/FORM SPC - Tag Recovery"}}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"uuid"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/geofence":{"get":{"tags":["ers-geofence-controller"],"summary":"Query the server if the geofence zip file is newer than tha current definition","operationId":"queryUsingGET","produces":["*/*"],"parameters":[{"name":"snum","in":"query","description":"The device serial number","required":false,"type":"string","allowEmptyValue":false},{"name":"timestamp","in":"query","description":"The time in millis","required":false,"type":"integer","format":"int64","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UpdateResponse"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/geofence/zip":{"get":{"tags":["ers-geofence-controller"],"summary":"Return the current geofence zip file","operationId":"zipFileUsingGET","produces":["application/zip"],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/installation":{"get":{"tags":["vessel"],"summary":"Query Installation Logs","description":"Secured: ROLE_INSTALLER\n","operationId":"queryInstallationLogsUsingGET","produces":["*/*"],"parameters":[{"name":"installed","in":"query","description":"installed","required":false,"type":"boolean"},{"name":"mmsi","in":"query","description":"mmsi","required":false,"type":"string"},{"name":"port","in":"query","description":"port","required":false,"type":"string","format":"uuid"},{"name":"vesselRegistration","in":"query","description":"vesselRegistration","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Installation Log"}}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false},"post":{"tags":["vessel"],"summary":"Post Installation Log. This is deprecated. Please use PUT /ers/registration/{id}/installation instead.","description":"Secured: ROLE_INSTALLER\n","operationId":"postInstallationLogUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"log","description":"log","required":true,"schema":{"$ref":"#/definitions/Installation Log"}},{"name":"name","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Installation Log"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":true}},"/ers/login/device":{"post":{"tags":["Authentication"],"summary":"Device login","description":"Login with device credentials","operationId":"loginAsDeviceWithPostUsingPOST","parameters":[{"name":"imei","in":"formData","description":"The handsets IMEI","required":true,"type":"string","pattern":"^[0-9]{2}-[0-9]{6}-[0-9]{6}-[0-9]{1}$"},{"name":"vms100","in":"formData","description":"The VMS100 serial number","required":true,"type":"string","pattern":"^[0-9]{7}$"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/LoginResponse"}},"403":{"description":"Fail","schema":{"$ref":"#/definitions/LoginResponse"}}}}},"/ers/login/user":{"post":{"tags":["Authentication"],"summary":"User login","description":"Login with user credentials","operationId":"loginAsUserWithPostUsingPOST","parameters":[{"name":"password","in":"formData","description":"The users password","required":true,"type":"string"},{"name":"username","in":"formData","description":"The users username","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/LoginResponse"}},"403":{"description":"Fail","schema":{"$ref":"#/definitions/LoginFailureResponse"}}}}},"/ers/lookup/agent":{"get":{"tags":["Lookup Table"],"summary":"Agent","description":"Secured: ROLE_ERS_DEVICE\nGet the latest version of the agent lookup table","operationId":"getLookupAgentsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Lookup Table"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/lookup/association-code":{"get":{"tags":["Lookup Table"],"summary":"Association Codes","description":"Secured: ROLE_ERS_DEVICE\nGet the latest version of the association codes lookup table","operationId":"getAssociationCodesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Lookup Table"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/lookup/bunkering-vessel":{"get":{"tags":["Lookup Table"],"summary":"Bunkering Vessel","description":"Secured: ROLE_ERS_DEVICE\nGet the latest version of the bunkering vessel lookup table","operationId":"getLookupBunkeringVesselsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Lookup Table"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/lookup/discard0":{"get":{"tags":["Lookup Table"],"summary":"Discard 0","description":"Secured: ROLE_ERS_DEVICE\nGet the latest version of the discard 0 codes lookup table","operationId":"getDiscard0UsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Lookup Table"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/lookup/discard1":{"get":{"tags":["Lookup Table"],"summary":"Discard 1","description":"Secured: ROLE_ERS_DEVICE\nGet the latest version of the discard 1 codes lookup table","operationId":"getDiscard1UsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Lookup Table"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/lookup/port":{"get":{"tags":["Lookup Table"],"summary":"Port","description":"Secured: ROLE_ERS_DEVICE\nGet the latest version of the port lookup table","operationId":"getLookupPortsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Lookup Table"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/lookup/species":{"get":{"tags":["Lookup Table"],"summary":"Species","description":"Secured: ROLE_ERS_DEVICE\nGet the latest version of the species lookup table","operationId":"getLookupSpeciesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Lookup Table"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/lookup/tranship-vessel":{"get":{"tags":["Lookup Table"],"summary":"Tranship vessel","description":"Secured: ROLE_ERS_DEVICE\nGet the latest version of the tranship vessel lookup table","operationId":"getLookupTranshipVesselsUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Lookup Table"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/lookup/version":{"post":{"tags":["Lookup Table"],"summary":"Store device version","description":"Secured: ROLE_ERS_DEVICE\nStore the version that will be used when sending AIS messages from this moment on.\nOnce this method returns, the device *MUST* send any further AIS messages using the new version","operationId":"setMMSILookupVersionUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"version","description":"The lookup version to store","required":true,"schema":{"$ref":"#/definitions/MmsiLookupVersion"}}],"responses":{"200":{"description":"Version set","schema":{"$ref":"#/definitions/MmsiLookupVersion"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"},"403":{"description":"Forbidden"}},"deprecated":false}},"/ers/next_available_mmsi_pool":{"get":{"tags":["common"],"summary":"Get next available mmsi","description":"Secured: ROLE_INSTALLER, ROLE_ADMINISTRATOR\n","operationId":"getNextAvailableMMSIUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/port":{"get":{"tags":["common"],"summary":"Query Ports","description":"Secured: ROLE_ADMINISTRATOR, ROLE_ERS_DEVICE, ROLE_INSTALLER, ROLE_OBSERVER\n","operationId":"getAllUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Port"}}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/port/{id}":{"get":{"tags":["common"],"summary":"Get Port","description":"Secured: ROLE_ADMINISTRATOR, ROLE_ERS_DEVICE, ROLE_INSTALLER, ROLE_OBSERVER\n","operationId":"getUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Port"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/refresh-token":{"post":{"tags":["Authentication"],"summary":"Token exchange refresh --> access","operationId":"refreshTokenUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"refreshToken","in":"query","description":"refreshToken","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LoginResponse"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/registration":{"get":{"tags":["common"],"summary":"Query Registrations","description":"Secured: ROLE_INSTALLER, ROLE_ADMINISTRATOR\n","operationId":"getRegistrationsUsingGET","produces":["*/*"],"parameters":[{"name":"installed","in":"query","description":"installed","required":false,"type":"boolean"},{"name":"mmsi","in":"query","description":"mmsi","required":false,"type":"string"},{"name":"port","in":"query","description":"port","required":false,"type":"string","format":"uuid"},{"name":"registration","in":"query","description":"registration","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Device Registration"}}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/registration/{id}":{"get":{"tags":["common"],"summary":"Get Registration","description":"Secured: ROLE_INSTALLER, ROLE_ADMINISTRATOR\n","operationId":"getRegistrationUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Device Registration"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/registration/{id}/installation":{"put":{"tags":["vessel"],"summary":"Post an Installation Log for a given Device Registration.","description":"Secured: ROLE_INSTALLER\n","operationId":"putInstallationLogUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"deviceRegistrationId","in":"query","description":"The id of the Device Registration for which an installation log is being posted.","required":false,"type":"string","format":"uuid","allowEmptyValue":false},{"in":"body","name":"installationLog","description":"The Installation Log to be posted.","required":false,"schema":{"$ref":"#/definitions/Installation Log"}},{"name":"name","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Installation Log"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"},"404":{"description":"The entity requested was not found"}},"deprecated":false}},"/ers/species":{"get":{"tags":["common"],"summary":"Query Species","description":"Secured: ROLE_OBSERVER\n","operationId":"getAllUsingGET_1","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Species"}}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/species/{id}":{"get":{"tags":["common"],"summary":"Fetch Species","description":"Secured: ROLE_OBSERVER\n","operationId":"getUsingGET_1","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Species"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/trip":{"get":{"tags":["common"],"summary":"Query trips","description":"Secured: ROLE_OBSERVER\nReturn all trips with the ability to filter the results\nDefault behaviour returns all uncompleted trips for the authenticated device","operationId":"getTripsUsingGET","produces":["*/*"],"parameters":[{"name":"includeCompleted","in":"query","description":"Include completed trips or not","required":false,"type":"boolean","default":false,"allowEmptyValue":false,"x-example":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Trip"}}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/trip/{id}":{"get":{"tags":["common"],"summary":"Get trip details","description":"Secured: ROLE_OBSERVER\n","operationId":"getTripUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Trip"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/user":{"get":{"tags":["user-controller"],"summary":"Retrieve Users","description":"Secured: ROLE_ADMINISTRATOR, hasAuthority('CLIENT_AUTH')\n","operationId":"getUsersUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ErsUser"}}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false},"post":{"tags":["user-controller"],"summary":"Create User","description":"Secured: ROLE_ADMINISTRATOR, hasAuthority('CLIENT_AUTH')\n","operationId":"createUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"user","description":"user","required":true,"schema":{"$ref":"#/definitions/ErsUser"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ErsUser"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/user/{id}":{"get":{"tags":["user-controller"],"summary":"Retrieve User","description":"Secured: ROLE_ADMINISTRATOR\n","operationId":"getUserUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ErsUser"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false},"put":{"tags":["user-controller"],"summary":"Update User","description":"Secured: ROLE_ADMINISTRATOR, hasAuthority('CLIENT_AUTH')\n","operationId":"updateUserUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"user","description":"user","required":true,"schema":{"$ref":"#/definitions/ErsUser"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ErsUser"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"},"404":{"description":"The entity requested was not found"}},"deprecated":false}},"/ers/vessel":{"get":{"tags":["vessel"],"summary":"Query vessels.","description":"Secured: ROLE_INSTALLER, ROLE_ADMINISTRATOR\n","operationId":"getVesselsForPortUsingGET","produces":["*/*"],"parameters":[{"name":"port","in":"query","description":"Port ID","required":false,"type":"string","format":"uuid","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Vessel Information"}}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/vessel/{id}":{"get":{"tags":["vessel"],"summary":"Get vessel information","description":"Secured: ROLE_INSTALLER\n","operationId":"getVesselUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Vessel Information"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundResponse"}}},"deprecated":false}},"/ers/vessel/{id}/people":{"get":{"tags":["vessel"],"summary":"Get the peoples associated with this vessel","description":"Secured: ROLE_INSTALLER\n","operationId":"getVesselPeopleUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Vessel Information - Owner or crew info"}}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false},"post":{"tags":["vessel"],"summary":"Add person to vessel","description":"Secured: ROLE_INSTALLER\n","operationId":"addPersonUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"operator","description":"operator","required":true,"schema":{"$ref":"#/definitions/Vessel Information - Owner or crew info"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Vessel Information - Owner or crew info"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/vessel/{id}/people/{personId}":{"put":{"tags":["vessel"],"summary":"Update person associated with vessel","description":"Secured: ROLE_INSTALLER\n","operationId":"updatePersonUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"operator","description":"operator","required":true,"schema":{"$ref":"#/definitions/Vessel Information - Owner or crew info"}},{"name":"personId","in":"path","description":"personId","required":true,"type":"string","format":"uuid"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Vessel Information - Owner or crew info"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundResponse"}}},"deprecated":false}},"/ers/vessel/{id}/photo":{"get":{"tags":["vessel"],"summary":"Get vessel photos","description":"Secured: ROLE_INSTALLER\n","operationId":"getVesselPhotosUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Vessel Information - Vessel Photo"}}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false},"post":{"tags":["vessel"],"summary":"Upload Vessel Photo","description":"Secured: ROLE_INSTALLER, ROLE_ERS_DEVICE\n","operationId":"uploadPhotoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"$ref":"#/definitions/Create photo request"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Vessel Information - Vessel Photo"}},"400":{"description":"Request rejected, typically the payload failed validation checks or an ID referenced was invalid"},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}},"/ers/vessel/{id}/photo/{filename}":{"get":{"tags":["vessel"],"summary":"Get vessel photo","description":"Secured: ROLE_INSTALLER\n","operationId":"getVesselPhotoUsingGET","produces":["*/*"],"parameters":[{"name":"filename","in":"path","description":"filename","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"},"404":{"description":"Not found","schema":{"$ref":"#/definitions/NotFoundResponse"}}},"deprecated":false}},"/ers/weather-alert":{"get":{"tags":["weather"],"summary":"Query weather alerts","operationId":"queryUsingGET_1","produces":["*/*"],"parameters":[{"name":"after","in":"query","description":"after","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WeatherAlert"}}},"401":{"description":"Invalid authentication token or token not supplied. The token provided has expired or has been revoked"}},"deprecated":false}}},"securityDefinitions":{"Bearer Token":{"type":"apiKey","name":"Authorization","in":"header"}},"definitions":{"Activity Message - Activity":{"type":"object","required":["position","serial","timestamp"],"properties":{"activity":{"type":"string","description":"The type of activity\n* SET: Fishing set\n* LANDING: Landing\n* TRANSHIP: Tranship\n* BUNKING_CREW_CHANGE: Bunkering or crew change\n* NET_CLEANING: Net cleaning\n* FAO: Handling FAO\n* SEARCHING: Searching...\n* TRANSIT: Transit\n* BREAKDOWN: Breakdown\n* BAD_WEATHER: Bad Weather\n* OTHER: Other requires text message to be sent","enum":["SET","LANDING","TRANSHIP","BUNKING_CREW_CHANGE","NET_CLEANING","FAO","SEARCHING","TRANSIT","BREAKDOWN","BAD_WEATHER","OTHER"]},"mmsi":{"type":"string","description":"The mmsi of the device sending the message","pattern":"[0-9]{9}"},"position":{"description":"The position of the activity","$ref":"#/definitions/Geographic Position"},"serial":{"type":"string","description":"Serial number of the VMS-100 unit.","pattern":"^[0-9]{7}$"},"timestamp":{"type":"string","format":"date-time","description":"Timestamp of the message transmission (in minute accuracy)."},"updated":{"type":"string","format":"date-time","description":"Last updated."}},"title":"Activity Message - Activity","description":"Fishing activity start point equivalent to ID type 6"},"Activity Message - Bunkering Change":{"type":"object","required":["crewCount","serial","timestamp","vesselId"],"properties":{"crewCount":{"type":"integer","format":"int32","description":"Crew count 1 to 31, 0 = 32 or more"},"mmsi":{"type":"string","description":"The mmsi of the device sending the message","pattern":"[0-9]{9}"},"serial":{"type":"string","description":"Serial number of the VMS-100 unit.","pattern":"^[0-9]{7}$"},"timestamp":{"type":"string","format":"date-time","description":"Timestamp of the message transmission (in minute accuracy)."},"updated":{"type":"string","format":"date-time","description":"Last updated."},"vesselId":{"type":"string","description":"Vessel ID from the predetermined list of authorised bunkering vessels."}},"title":"Activity Message - Bunkering Change","description":"Bunkering change message"},"Activity Message - Catch Species":{"type":"object","required":["code","discard","position","serial","speciesId","timestamp","weight_count"],"properties":{"code":{"type":"string","description":"Association code value"},"discard":{"type":"boolean","description":"Discarded (true) or stored (false)"},"mmsi":{"type":"string","description":"The mmsi of the device sending the message","pattern":"[0-9]{9}"},"note1":{"type":"string"},"note2":{"type":"integer","format":"int32","minimum":0.0,"maximum":15.0,"exclusiveMinimum":false,"exclusiveMaximum":false},"note3":{"type":"integer","format":"int32","minimum":0.0,"maximum":15.0,"exclusiveMinimum":false,"exclusiveMaximum":false},"note4":{"type":"integer","format":"int32","minimum":0.0,"maximum":15.0,"exclusiveMinimum":false,"exclusiveMaximum":false},"position":{"description":"Location of the catch","$ref":"#/definitions/Geographic Position"},"serial":{"type":"string","description":"Serial number of the VMS-100 unit.","pattern":"^[0-9]{7}$"},"speciesId":{"type":"string","description":"ID of the caught species from the master species list"},"timestamp":{"type":"string","format":"date-time","description":"Timestamp of the message transmission (in minute accuracy)."},"units":{"type":"boolean","description":"Units to use when interpreting the weight_count field, true=weight, false=units"},"updated":{"type":"string","format":"date-time","description":"Last updated."},"weight_count":{"type":"integer","format":"int32","description":"Either the number of units caught or the weight (kilos)"}},"title":"Activity Message - Catch Species","description":"Record of fish caught"},"Activity Message - Landing Report Species":{"type":"object","required":["discard","finished","note4","portId","serial","speciesId","timestamp","unloading","weight_count"],"properties":{"agent":{"type":"string","description":"Agent. NUll = Other"},"discard":{"type":"boolean","description":"Discarded or stored"},"finished":{"type":"boolean","description":"When set, indicates that a species landing has finished."},"mmsi":{"type":"string","description":"The mmsi of the device sending the message","pattern":"[0-9]{9}"},"note1":{"type":"string","description":"If discard == true, Regionally defined enumeration.\nOtherwise regionally defined storage location identifier.\nDescribes where on the vessel the catch was taken from."},"note2":{"type":"integer","format":"int32","minimum":0.0,"maximum":15.0,"exclusiveMinimum":false,"exclusiveMaximum":false},"note3":{"type":"integer","format":"int32","minimum":0.0,"maximum":15.0,"exclusiveMinimum":false,"exclusiveMaximum":false},"note4":{"type":"integer","format":"int32","minimum":0.0,"maximum":15.0,"exclusiveMinimum":false,"exclusiveMaximum":false},"portId":{"type":"string","format":"uuid"},"serial":{"type":"string","description":"Serial number of the VMS-100 unit.","pattern":"^[0-9]{7}$"},"speciesId":{"type":"string","description":"Species of the fish that was caught"},"timestamp":{"type":"string","format":"date-time","description":"Timestamp of the message transmission (in minute accuracy)."},"units":{"type":"boolean","description":"Units to use when interpreting the weight_count field, true=weight, false=units"},"unloading":{"type":"boolean","description":"When set, indicates that a species is being unloaded during a landing."},"updated":{"type":"string","format":"date-time","description":"Last updated."},"weight_count":{"type":"integer","format":"int32","description":"Either the number of units caught or the weight (kilos)"}},"title":"Activity Message - Landing Report Species","description":"Record of a transfer of some fish of a specific species during a landing"},"Activity Message - Pre Departure":{"type":"object","required":["crewCount","departPortId","fishOnBoard","plannedDepartTime","plannedDuration","returnPortId","serial","timestamp"],"properties":{"crewCount":{"type":"integer","format":"int32","minimum":0.0,"exclusiveMinimum":false},"departPortId":{"type":"string","format":"uuid","description":"Where the trip started"},"fishOnBoard":{"type":"boolean"},"mmsi":{"type":"string","description":"The mmsi of the device sending the message","pattern":"[0-9]{9}"},"plannedDepartTime":{"type":"string","format":"date-time"},"plannedDuration":{"type":"integer","format":"int32","description":"Planned duration of trip in days. 0 = same day, max 31, where 31 means 31 or longer","minimum":0.0,"exclusiveMinimum":false},"returnPortId":{"type":"string","format":"uuid","description":"Where the trip is destined to end"},"serial":{"type":"string","description":"Serial number of the VMS-100 unit.","pattern":"^[0-9]{7}$"},"timestamp":{"type":"string","format":"date-time","description":"Timestamp of the message transmission (in minute accuracy)."},"updated":{"type":"string","format":"date-time","description":"Last updated."}},"title":"Activity Message - Pre Departure","description":"Represents pre-departure statement for a fishing trip"},"Activity Message - Prior Notification":{"type":"object","required":["eta","returnPortId","serial","timestamp"],"properties":{"eta":{"type":"string","format":"date-time","description":"Intended return time."},"mmsi":{"type":"string","description":"The mmsi of the device sending the message","pattern":"[0-9]{9}"},"returnPortId":{"type":"string","format":"uuid","description":"Intended return port"},"serial":{"type":"string","description":"Serial number of the VMS-100 unit.","pattern":"^[0-9]{7}$"},"timestamp":{"type":"string","format":"date-time","description":"Timestamp of the message transmission (in minute accuracy)."},"updated":{"type":"string","format":"date-time","description":"Last updated."}},"title":"Activity Message - Prior Notification","description":"Prior notification statement for a fishing trip"},"Activity Message - Text Message":{"type":"object","required":["serial","text","timestamp"],"properties":{"mmsi":{"type":"string","description":"The mmsi of the device sending the message","pattern":"[0-9]{9}"},"serial":{"type":"string","description":"Serial number of the VMS-100 unit.","pattern":"^[0-9]{7}$"},"text":{"type":"string","description":"The text message."},"timestamp":{"type":"string","format":"date-time","description":"Timestamp of the message transmission (in minute accuracy)."},"updated":{"type":"string","format":"date-time","description":"Last updated."}},"title":"Activity Message - Text Message"},"Activity Message - Transhipment":{"type":"object","required":["position","proposedDate","serial","timestamp"],"properties":{"mmsi":{"type":"string","description":"The mmsi of the device sending the message","pattern":"[0-9]{9}"},"position":{"description":"Where it occurred","$ref":"#/definitions/Geographic Position"},"proposedDate":{"type":"string","format":"date-time","description":"When the trip is planned to start"},"serial":{"type":"string","description":"Serial number of the VMS-100 unit.","pattern":"^[0-9]{7}$"},"timestamp":{"type":"string","format":"date-time","description":"Timestamp of the message transmission (in minute accuracy)."},"updated":{"type":"string","format":"date-time","description":"Last updated."},"vesselId":{"type":"string","description":"Id of the vessel that was transshipped, null = Other/unkown"}},"title":"Activity Message - Transhipment","description":"A request (proposal) to do transhipment of fish. VMS-100 Function id5"},"Activity Message - Transhipment Species":{"type":"object","required":["discard","serial","speciesId","timestamp","transId","transfer","transhipPortId","weight_count"],"properties":{"discard":{"type":"boolean","description":"Discarded (true) or stored (false)."},"mmsi":{"type":"string","description":"The mmsi of the device sending the message","pattern":"[0-9]{9}"},"note1":{"type":"string","description":"If discard == true, Regionally defined enumeration.\nOtherwise regionally defined storage location identifier.\nDescribes where on the vessel the catch was taken from."},"note2":{"type":"integer","format":"int32","minimum":0.0,"maximum":15.0,"exclusiveMinimum":false,"exclusiveMaximum":false},"note3":{"type":"integer","format":"int32","minimum":0.0,"maximum":15.0,"exclusiveMinimum":false,"exclusiveMaximum":false},"note4":{"type":"integer","format":"int32","minimum":0.0,"maximum":15.0,"exclusiveMinimum":false,"exclusiveMaximum":false},"serial":{"type":"string","description":"Serial number of the VMS-100 unit.","pattern":"^[0-9]{7}$"},"speciesId":{"type":"string","description":"Id of the species"},"timestamp":{"type":"string","format":"date-time","description":"Timestamp of the message transmission (in minute accuracy)."},"transId":{"type":"integer","format":"int32","description":"22-bit hash of FMC assigned authorisation code","minimum":0.0,"maximum":41943043,"exclusiveMinimum":false,"exclusiveMaximum":false},"transfer":{"type":"boolean","description":"When set, indicates that fish-cargo was transferred to the transhipment vessel."},"transhipPortId":{"type":"string","format":"uuid","description":"The ID in the port table"},"transhipVesselId":{"type":"string","description":"Vessel involved in transhipment NULL = other"},"units":{"type":"boolean","description":"Units to use when interpreting the weight_count field, true=weight, false=units"},"updated":{"type":"string","format":"date-time","description":"Last updated."},"weight_count":{"type":"integer","format":"int32","description":"Either the number of units caught or the weight (kilos)"}},"title":"Activity Message - Transhipment Species","description":"Record of a transfer of some fish of a specific species during a transhipment"},"Create photo request":{"type":"object","required":["data","type"],"properties":{"data":{"type":"string","format":"byte","example":"SGVsbG8sIHlvdSBmb3VuZCBhbiBlYXN0ZXIgZWdnLCBoYXZlIGEgbmljZSBkYXkh","description":"The image file contents, base64 Encoded data"},"filename":{"type":"string","example":"look_at_me_i_am_the_captain_now.jpg","description":"The filename"},"timeTaken":{"type":"string","format":"date-time","description":"The original time that the photo was taken"},"type":{"type":"string","example":"Captain","description":"The type of the photo\n* VESSEL_BOW: Photo looking at the bow of a vessel\n* VESSEL_STERN: Photo looking at the stern of a vessel\n* VESSEL_PORT: Photo looking at the port side of a vessel\n* VESSEL_STARBOARD: Photo looking at the starboard side of a vessel\n* INSTALLATION: Photo of the installation\n* CAPTAIN: Photo of the captain\n* INSTALLATION_RECEIPT: Photo of the installer's signature kept as the installation's receipt\n* TRANSCEIVER_LOCATION: Photo of the transceiver","enum":["VESSEL_BOW","VESSEL_STERN","VESSEL_PORT","VESSEL_STARBOARD","INSTALLATION","CAPTAIN","INSTALLATION_RECEIPT","TRANSCEIVER_LOCATION"]}},"title":"Create photo request"},"Device Registration":{"type":"object","required":["mmsi","serial","status"],"properties":{"device":{"description":"Detail of the handset linked to this device","$ref":"#/definitions/ERS Device information"},"id":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000","description":"The identifier of this registration"},"installationLog":{"description":"The Installation Log for this Registration","$ref":"#/definitions/Installation Log"},"mmsi":{"type":"string","example":123456789,"description":"The https://en.wikipedia.org/wiki/Maritime_Mobile_Service_Identity[MMSI] of the vessel"},"serial":{"type":"string","example":1234567,"description":"The serial number of the VMS100 device","pattern":"^[0-9]{7}$"},"status":{"type":"string","example":"INSTALLED","description":"The vessels status","enum":["MESSAGE_RECEIVED","INSTALLED","ACTIVE","NOT_AVAILABLE"]},"uin":{"type":"string","description":"The associated UIN","pattern":"[A-Z]{2}-[0-9]{8}-[0-9]{4}"},"updated":{"type":"string","format":"date-time","description":"Last updated."},"vesselRegistration":{"type":"string","description":"The vessel linked to this registration (the national registration number as assigned by the governing flag state)."}},"title":"Device Registration","description":"Device registration which links together various ids and properties of the vessel"},"ERS Device information":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Is the handset currently allowed to interact with system"},"imei":{"type":"string","description":"The handset IMEI","pattern":"^[0-9]{2}-[0-9]{6}-[0-9]{6}-[0-9]{1}$"}},"title":"ERS Device information"},"ErsUser":{"type":"object","required":["imsi","role"],"properties":{"companyId":{"type":"string","format":"uuid","description":"The company associated with this installer"},"dob":{"type":"string","format":"date","description":"The users day date of birth"},"email":{"type":"string","description":"Email or emails of the user separated by ';'"},"enabled":{"type":"boolean","description":"Tells if user can login and perform actions"},"ers4MobileNumber":{"type":"string","example":"+23 4534 34534565","description":"ERS4 mobile number","minLength":0,"maxLength":25},"failedLoginAttempts":{"type":"integer","format":"int32"},"firstName":{"type":"string","description":"First name","minLength":0,"maxLength":50},"imei":{"type":"string","description":"The device IMEI associated with this user","pattern":"[0-9]{15}"},"imsi":{"type":"string","example":310120265624299,"description":"IMSI (International mobile subscriber identity)","pattern":"[0-9]{15}"},"lastName":{"type":"string","description":"Last name","minLength":0,"maxLength":50},"nationality":{"type":"string","example":"PH","description":"The users nationality"},"observerShortId":{"type":"integer","format":"int32","description":"The numeric ID of this observer","minimum":0.0,"maximum":1023.0,"exclusiveMinimum":false,"exclusiveMaximum":false},"password":{"type":"string"},"provider":{"type":"string","description":"Organization that employs the observer"},"role":{"type":"string","description":"The users role\n* ADMINISTRATOR: IMP Administrator\n* OBSERVER: Authenticated as an ERS3 observer user\n* INSTALLER: Authenticated as an ERS4 installer user\n* ERS_DEVICE: Authenticated as an ERS1 device","enum":["ADMINISTRATOR","OBSERVER","INSTALLER","ERS_DEVICE"]},"telephone":{"type":"string","example":"+23 4534 34534565","description":"Telephone contact number","minLength":0,"maxLength":25},"username":{"type":"string","description":"The username of the user"}},"title":"ErsUser"},"FORM GEN-1":{"type":"object","required":["activities","sightings"],"properties":{"activities":{"type":"array","description":"List of activities (transfers, dumping or bunkering)","items":{"$ref":"#/definitions/FORM GEN-1 - Activity"}},"id":{"type":"string","format":"uuid","description":"ID of the form, will be assigned by the server when submitting the form"},"observerUsername":{"type":"string","description":"The observer username. Will be assigned based on the currently authentication"},"sightings":{"type":"array","description":"List of sighting entries","items":{"$ref":"#/definitions/FORM GEN-1 - Sighting"}},"tripId":{"type":"string","description":"The trip that the form was completed for"},"updated":{"type":"string","format":"date-time","description":"Time this form was updated/submitted to the server"},"vesselName":{"type":"string","example":"Boaty McBoatface","description":"The name of the observers vessel"}},"title":"FORM GEN-1","description":"Report on sightings and transhipment"},"FORM GEN-1 - Activity":{"type":"object","required":["actionCode","dateTime","flag","position","type"],"properties":{"actionCode":{"type":"string","example":"DF","description":"The activity of the vessel\n* FI: Fishing\n* PF: Possibly Fishing\n* NF: Not Fishing\n* DF: Dumping Fish\n* TR: Receiving - transhipment fish\n* SR: Receiving - Set Sharing\n* BR: Receiving - Bunkering\n* OR: Receiving - Other\n* TG: Giving - transhipment fish\n* SG: Giving - Set Sharing\n* BG: Giving - Bunkering\n* OG: Giving - Other","enum":["FI","PF","NF","DF","TR","SR","BR","OR","TG","SG","BG","OG"]},"comments":{"type":"string","description":"Free space to add additional information"},"dateTime":{"type":"string","format":"date-time","example":"2020-06-15T08:31:18+05:00","description":"The date and time of the observed signing, ship time."},"flag":{"type":"string","example":"PH","description":"The flag of the vessel ISO-3166"},"ircs":{"type":"string","example":"4-EVER","description":"The vessels call sign"},"name":{"type":"string","example":"LIVE FOREVER","description":"The vessel name"},"position":{"description":"Observers vessel position","$ref":"#/definitions/Geographic Position"},"type":{"type":"integer","format":"int32","example":4,"description":"The vessel type\n* 1: Single purse seine\n* 2: Longline\n* 3: Pole and line\n* 4: Mothership\n* 5: Troll\n* 6: Net boat\n* 7: Bunker\n* 8: Anchor or light boat\n* 9: Fish carrier\n* 10: Trawler\n* 21: Light aircraft\n* 22: Helicopter\n* 31: Other","enum":[1,2,3,4,5,6,7,8,9,10,21,22,31]},"weightBET":{"type":"number","format":"float","description":"The weight in MT of the BET caught/transferred"},"weightMixed":{"type":"number","format":"float","description":"The weight in MT of any other fish caught/transferred"},"weightSKJ":{"type":"number","format":"float","description":"The weight in MT of the SKJ caught/transferred"},"weightYFT":{"type":"number","format":"float","description":"The weight in MT of the YFT caught/transferred"}},"title":"FORM GEN-1 - Activity","description":"Vessel observed in activity"},"FORM GEN-1 - Interaction condition record":{"type":"object","required":["code","description","number"],"properties":{"code":{"type":"string","description":"Condition code\n* A0: Alive but unable to describe condition.\n* A1: Alive and healthy\n* A2: Alive, but injured or distressed\n* A3: Alive, but unlikely to live\n* A4: Entangled, okay\n* A5: Entangled, injured\n* A6: Hooked, externally, injured\n* A7: Hooked, internally, injured\n* A8: Hooked, unknown injured\n* D: Dead\n* D1: Entangled, dead\n* D2: Hooked, externally, dead\n* D3: Hooked, internally, dead\n* D4: Hooked, unknown, dead\n* U: Condition unknown\n* U1: Entangled, unknown condition\n* U2: Hooked, externally, condition unknown\n* U3: Hooked, internally, condition unknown\n* U4: Hooked, unknown, condition unknown","enum":["A0","A1","A2","A3","A4","A5","A6","A7","A8","D","D1","D2","D3","D4","U","U1","U2","U3","U4"]},"description":{"type":"string","description":"Description"},"id":{"type":"string","format":"uuid"},"number":{"type":"integer","format":"int32","description":"Number of individuals"}},"title":"FORM GEN-1 - Interaction condition record"},"FORM GEN-1 - Sighting":{"type":"object","required":["activityCode","bearing","dateTime","distance","flag","position","type"],"properties":{"activityCode":{"type":"string","description":"The activity the vessel was observed performing\n* FI: Fishing\n* PF: Possibly Fishing\n* NF: Not Fishing\n* DF: Dumping Fish\n* TR: Receiving - transhipment fish\n* SR: Receiving - Set Sharing\n* BR: Receiving - Bunkering\n* OR: Receiving - Other\n* TG: Giving - transhipment fish\n* SG: Giving - Set Sharing\n* BG: Giving - Bunkering\n* OG: Giving - Other","enum":["FI","PF","NF","DF","TR","SR","BR","OR","TG","SG","BG","OG"]},"bearing":{"type":"integer","format":"int32","description":"The compass bearing in degrees","minimum":0.0,"maximum":360.0,"exclusiveMinimum":false,"exclusiveMaximum":false},"comments":{"type":"string","description":"Free space to add additional information"},"dateTime":{"type":"string","format":"date-time","example":"2020-06-15T08:31:18+05:00","description":"The date and time of the sighing, ship time."},"distance":{"type":"number","format":"double","description":"The distance in nautical miles"},"flag":{"type":"string","description":"The flag of the sighted vessel ISO-3166"},"images":{"type":"array","description":"Images of the sighted vessel","items":{"$ref":"#/definitions/FORM GEN-1 - Sighting Photo"}},"ircs":{"type":"string","description":"The call sign of the sighted vessel","pattern":"[A-Z0-9-]+"},"name":{"type":"string","description":"The name of the sighted vessel"},"position":{"description":"The position of the observer's vessel at the time of the sighting","$ref":"#/definitions/Geographic Position"},"type":{"type":"integer","format":"int32","description":"The vessel type code\n* 1: Single purse seine\n* 2: Longline\n* 3: Pole and line\n* 4: Mothership\n* 5: Troll\n* 6: Net boat\n* 7: Bunker\n* 8: Anchor or light boat\n* 9: Fish carrier\n* 10: Trawler\n* 21: Light aircraft\n* 22: Helicopter\n* 31: Other","enum":[1,2,3,4,5,6,7,8,9,10,21,22,31]}},"title":"FORM GEN-1 - Sighting","description":"GEN-1 Report Sighting entry for vessel or aircraft"},"FORM GEN-1 - Sighting Photo":{"type":"object","required":["data"],"properties":{"data":{"type":"string","format":"byte","description":"The data of the file encoded as base64, must be a PNG or JPG, maximum size 5 megabytes"},"date":{"type":"string","format":"date-time","description":"The date and time the photo was taken"},"filename":{"type":"string","description":"File name of the photo, if not supplied a random name will be generated"}},"title":"FORM GEN-1 - Sighting Photo","description":"An image captured by the ERS3 device"},"FORM GEN-1 - Species Sighted":{"type":"object","required":["activity","adults","distance","juveniles","sighted"],"properties":{"activity":{"type":"integer","format":"int32","description":"Vessel activity during encounter\n* 0: Hauling\n* 1: Searching\n* 2: Transiting\n* 3: Other","enum":[0,1,2,3]},"adults":{"type":"integer","format":"int32","description":"Estimated number of adults"},"behaviour":{"type":"string","description":"Description of species behaviour"},"distance":{"type":"integer","format":"int32","description":"Distance from vessel (m)"},"estimatedLengths":{"type":"string","description":"Estimation of the total lengths"},"id":{"type":"string","format":"uuid"},"juveniles":{"type":"integer","format":"int32","description":"Estimated number of juveniles"},"otherActivity":{"type":"string","description":"Description if activity is other"},"sighted":{"type":"integer","format":"int32","description":"Total number sighted"}},"title":"FORM GEN-1 - Species Sighted"},"FORM GEN-1 - Species landed on deck":{"type":"object","required":["discardedCondition","landedCondition","length","lengthCode","sex"],"properties":{"discardedCondition":{"type":"string","description":"The condition code when discarded\n* A0: Alive but unable to describe condition.\n* A1: Alive and healthy\n* A2: Alive, but injured or distressed\n* A3: Alive, but unlikely to live\n* A4: Entangled, okay\n* A5: Entangled, injured\n* A6: Hooked, externally, injured\n* A7: Hooked, internally, injured\n* A8: Hooked, unknown injured\n* D: Dead\n* D1: Entangled, dead\n* D2: Hooked, externally, dead\n* D3: Hooked, internally, dead\n* D4: Hooked, unknown, dead\n* U: Condition unknown\n* U1: Entangled, unknown condition\n* U2: Hooked, externally, condition unknown\n* U3: Hooked, internally, condition unknown\n* U4: Hooked, unknown, condition unknown","enum":["A0","A1","A2","A3","A4","A5","A6","A7","A8","D","D1","D2","D3","D4","U","U1","U2","U3","U4"]},"discardedDesc":{"type":"string","description":"The description of the discarded condition"},"handlingDesc":{"type":"string","description":"Describe on-board handling"},"id":{"type":"string","format":"uuid"},"landedCondition":{"type":"string","description":"Condition code when the species was landed\n* A0: Alive but unable to describe condition.\n* A1: Alive and healthy\n* A2: Alive, but injured or distressed\n* A3: Alive, but unlikely to live\n* A4: Entangled, okay\n* A5: Entangled, injured\n* A6: Hooked, externally, injured\n* A7: Hooked, internally, injured\n* A8: Hooked, unknown injured\n* D: Dead\n* D1: Entangled, dead\n* D2: Hooked, externally, dead\n* D3: Hooked, internally, dead\n* D4: Hooked, unknown, dead\n* U: Condition unknown\n* U1: Entangled, unknown condition\n* U2: Hooked, externally, condition unknown\n* U3: Hooked, internally, condition unknown\n* U4: Hooked, unknown, condition unknown","enum":["A0","A1","A2","A3","A4","A5","A6","A7","A8","D","D1","D2","D3","D4","U","U1","U2","U3","U4"]},"landedDesc":{"type":"string","description":"Description of the condition when the species was landed"},"length":{"type":"integer","format":"int32","description":"Length (cm)"},"lengthCode":{"type":"string","description":"Length code\n* UF: Measurement for any marine mammals, sharks\n* CL: Measurement for turtles","enum":["UF","CL"]},"sex":{"type":"string","description":"The sex of the species\n* M: Male\n* F: Female\n* I: Indeterminate\n* U: Unknown","enum":["M","F","I","U"]},"tagPlaced":{"description":"Details of any tag placed","$ref":"#/definitions/FORM GEN-1 - Tag details"},"tagRetrieved":{"description":"Details of any tag retrieved","$ref":"#/definitions/FORM GEN-1 - Tag details"}},"title":"FORM GEN-1 - Species landed on deck"},"FORM GEN-1 - Tag details":{"type":"object","required":["number","type"],"properties":{"number":{"type":"string","description":"Tag number"},"organisation":{"type":"string","description":"The organisation"},"type":{"type":"integer","format":"int32","description":"Tag type\n* 0: Common Dart\n* 1: Archival\n* 2: Pop-Up","enum":[0,1,2]}},"title":"FORM GEN-1 - Tag details"},"FORM GEN-2":{"type":"object","required":["dateTime","location","species","timeType","type"],"properties":{"dateTime":{"type":"string","format":"date-time","description":"The ship board date and time of the encounter"},"id":{"type":"string","format":"uuid","description":"ID of the form, will be assigned by the server when submitting the form"},"interacted":{"description":"Details of the interaction when the species interacted with the vessel or gear","$ref":"#/definitions/FORM GEN-2 - Interaction with vessel or gear"},"landed":{"description":"Details of the interaction when the species was landed","$ref":"#/definitions/FORM GEN-1 - Species landed on deck"},"location":{"description":"Vessel position at time of encounter","$ref":"#/definitions/Geographic Position"},"observerUsername":{"type":"string","description":"The observer username. Will be assigned based on the currently authentication"},"sighted":{"description":"Details of the interaction when the species was only sighted","$ref":"#/definitions/FORM GEN-1 - Species Sighted"},"species":{"type":"string","description":"Species code\n* TTL: LOGGERHEAD TURTLE\n* DKK: LEATHERBACK TURTLE\n* TUG: GREEN TURTLE\n* LKV: OLIVE RIDLEY TURTLE\n* TTH: HAWKSBILL TURTLE\n* KEZ: EASTERN PACIFIC GREEN TURTLE (BLACK TURTLE)\n* FBT: FLATBACK TURTLE\n* TTX: ALL TURTLES\n* FAW: FALSE KILLER WHALE\n* SHW: SHORT-FINNED PILOT WHALE\n* KPW: PYGMY KILLER WHALE\n* MEW: MELON HEADED WHALE\n* HUW: HUMPBACK WHALE\n* SIW: SEI WHALE\n* MYS: BALEEN WHALE\n* ODM: TOOTHED WHALES\n* MAM: ALL MARINE MAMMALS\n* BRW: BRYDE'S WHALE\n* RHN: WHALE SHARK\n* DBO: BOTTLENOSE DOLPHIN\n* DCO: COMMON DOLPHIN\n* DRR: RISSO'S DOLPHIN\n* DSI: SPINNER DOLPHIN\n* DSP: SPOTTED DOLPHIN\n* DST: STRIPPED DOLPHINS\n* RTD: ROUGH TOOTHED DOLPHIN\n* DLP: ALL DOLPHINS\n* BIZ: ALL BIRDS","enum":["TTL","DKK","TUG","LKV","TTH","KEZ","FBT","TTX","FAW","SHW","KPW","MEW","HUW","SIW","MYS","ODM","MAM","BRW","RHN","DBO","DCO","DRR","DSI","DSP","DST","RTD","DLP","BIZ"]},"speciesDescription":{"type":"string","description":"Description of the identifying features"},"timeType":{"type":"integer","format":"int32","description":"Indicate the type of time recorded\n* 0: Time of landing\n* 1: Time of interaction/sighting","enum":[0,1]},"tripId":{"type":"string","description":"The trip that the form was completed for"},"type":{"type":"integer","format":"int32","description":"Encounter type\n* 0: Landed on deck\n* 1: Interacted with vessels gear only\n* 2: Sighted only","enum":[0,1,2]},"updated":{"type":"string","format":"date-time","description":"Time this form was updated/submitted to the server"}},"title":"FORM GEN-2"},"FORM GEN-2 - Interaction with vessel or gear":{"type":"object","required":["activity","end","start"],"properties":{"activity":{"type":"integer","format":"int32","description":"Vessel activity during encounter\n* 0: Hauling\n* 1: Searching\n* 2: Transiting\n* 3: Other","enum":[0,1,2,3]},"description":{"type":"string","description":"Description of the activity"},"end":{"type":"array","description":"Conditions at the end of the condition","items":{"$ref":"#/definitions/FORM GEN-1 - Interaction condition record"}},"id":{"type":"string","format":"uuid"},"otherActivity":{"type":"string","description":"Description if activity is other"},"start":{"type":"array","description":"Conditions at the start of the interaction","items":{"$ref":"#/definitions/FORM GEN-1 - Interaction condition record"}}},"title":"FORM GEN-2 - Interaction with vessel or gear"},"FORM GEN-3 - Vessel Monitoring Record":{"type":"object","properties":{"answers":{"type":"array","description":"Answers to the question asked by the form","items":{"$ref":"#/definitions/GEN3Answer"}},"date":{"type":"string","format":"date-time","description":"The date/time that the form was completed by the user"},"id":{"type":"string","format":"uuid","description":"ID of the form, will be assigned by the server when submitting the form"},"observerUsername":{"type":"string","description":"The observer username. Will be assigned based on the currently authentication"},"tripId":{"type":"string","description":"The trip that the form was completed for"},"updated":{"type":"string","format":"date-time","description":"Time this form was updated/submitted to the server"}},"title":"FORM GEN-3 - Vessel Monitoring Record"},"FORM GEN-5 - FAD Record":{"type":"object","required":["asFound","attachments","dateTime","estDepth","length","materials","objectNumber","origin","ssiTrapped","width"],"properties":{"asFound":{"type":"integer","format":"int32","description":"FAD as found\n* 1: Man made object (Drifting FAD)\n* 2: Man made object (Non FAD)\n* 3: Tree or Log (natural, free floating)\n* 4: Tree or logs (converted into FAD)\n* 5: Debris (flotsam bunched together)\n* 6: Dead Animal (specify; i.e. whale, horse, etc.) \n* 7: Anchored raft, FAD , or payao\n* 8: Anchored Tree or Logs\n* 9: Other (please specify)\n* 10: Man-made object (Drifting FAD)-changed,","enum":[1,2,3,4,5,6,7,8,9,10]},"asLeft":{"type":"integer","format":"int32","description":"FAD as left\n* 1: Man made object (Drifting FAD)\n* 2: Man made object (Non FAD)\n* 3: Tree or Log (natural, free floating)\n* 4: Tree or logs (converted into FAD)\n* 5: Debris (flotsam bunched together)\n* 6: Dead Animal (specify; i.e. whale, horse, etc.) \n* 7: Anchored raft, FAD , or payao\n* 8: Anchored Tree or Logs\n* 9: Other (please specify)\n* 10: Man-made object (Drifting FAD)-changed,","enum":[1,2,3,4,5,6,7,8,9,10]},"attachments":{"type":"array","description":"FAD Attachments","items":{"type":"string","enum":["11","12","13","14","15","16","17"]}},"buoyNumber":{"type":"string","description":"Buoy number"},"comments":{"type":"string","description":"Comments"},"dateTime":{"type":"string","format":"date-time","description":"The ship board date and time see PS/RN-1"},"deploymentDate":{"type":"string","format":"date","example":"15-06-2020","description":"Deployment data or null"},"estDepth":{"type":"number","format":"double","description":"Estimated depth in (m)"},"length":{"type":"number","format":"double","description":"Length in (m)"},"location":{"description":"Location","$ref":"#/definitions/Geographic Position"},"materials":{"type":"array","description":"FAD Materials","items":{"type":"string","enum":["1","2","3","4","5","6","7","8","9","10"]}},"objectNumber":{"type":"integer","format":"int32","description":"Object number"},"origin":{"type":"integer","format":"int32","description":"Origin of FAD\n* 1: Your vessel deployed this trip\n* 2: Other vessel deployed previous trip\n* 3: Other vesselâ€™s (owner consent)\n* 4: Other vesselâ€™s (no owner consent\n* 5: Other vesselâ€™s (consent unknown)\n* 6: Drifting and found by your vessel\n* 7: Deployed by FAD auxiliary vessel\n* 8: Origin unknown\n* 9: Other origin","enum":[1,2,3,4,5,6,7,8,9]},"payloadNumber":{"type":"string","description":"FAD/Payload number"},"setNumber":{"type":"integer","format":"int32","description":"Set number"},"sketch":{"type":"string","format":"byte","description":"Sketch image, PNG or JPG base 64 encoded"},"ssiTrapped":{"type":"boolean"},"width":{"type":"number","format":"double","description":"Width in (m)"}},"title":"FORM GEN-5 - FAD Record"},"FORM GEN-5 - Fish aggregating device information":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"ID of the form, will be assigned by the server when submitting the form"},"observerUsername":{"type":"string","description":"The observer username. Will be assigned based on the currently authentication"},"records":{"type":"array","description":"Record for each activity that involve a FAD","items":{"$ref":"#/definitions/FORM GEN-5 - FAD Record"}},"tripId":{"type":"string","description":"The trip that the form was completed for"},"updated":{"type":"string","format":"date-time","description":"Time this form was updated/submitted to the server"}},"title":"FORM GEN-5 - Fish aggregating device information"},"FORM LWSM":{"type":"object","required":["fishingGrounds","records"],"properties":{"comments":{"type":"string","description":"Comments on sampling method"},"fishingGrounds":{"type":"integer","format":"int32","description":"Fishing grounds\n* 0: NORTH WEST PHILIPPINES SEA\n* 1: CENTRAL WEST PHILIPPINE SEA\n* 2: SULU SEA\n* 3: CELEBES SEA\n* 4: CENTRAL PACIFIC SEABOARD\n* 5: CENTRAL NORTH PACIFIC SEABOARD\n* 6: OTHER","enum":[0,1,2,3,4,5,6]},"id":{"type":"string","format":"uuid","description":"ID of the form, will be assigned by the server when submitting the form"},"observerUsername":{"type":"string","description":"The observer username. Will be assigned based on the currently authentication"},"otherGrounds":{"type":"string","description":"Other fishing ground"},"records":{"type":"array","description":"The catch length/weight/sex/maturity records","items":{"$ref":"#/definitions/FORM LWSM - Catch Record"}},"tripId":{"type":"string","description":"The trip that the form was completed for"},"updated":{"type":"string","format":"date-time","description":"Time this form was updated/submitted to the server"}},"title":"FORM LWSM","description":"LENGTH-WEIGHT RELATIONSHIP AND SEX-MATURITY DETERMINATION"},"FORM LWSM - Catch Record":{"type":"object","required":["date","girth","length","maturity","sex","species","weight"],"properties":{"date":{"type":"string","format":"date","description":"Set date"},"girth":{"type":"integer","format":"int32","example":10,"description":"Girth (cm)"},"length":{"type":"integer","format":"int32","example":30,"description":"Length (cm)"},"maturity":{"type":"string","example":"IV","description":"Maturity\n* I: IMMATURE\n* II: MATURING\n* III: RIPENING\n* IV: RIPE\n* V: SPENT","enum":["I","II","III","IV","V"]},"sex":{"type":"string","example":"M","description":"Species Sex\n* M: Male\n* F: Female\n* I: Indeterminate\n* U: Unknown","enum":["M","F","I","U"]},"species":{"type":"string","example":"SKJ","description":"Species Code"},"weight":{"type":"number","format":"double","example":12.4,"description":"Weight (km)"}},"title":"FORM LWSM - Catch Record","description":"Rows within the LWSM form"},"FORM RN-1":{"type":"object","required":["birdRadar","crewCount","depthSounder","dopplerCurrentMeter","echoBuoys","fis","flag","gearType","gps","ircs","markingsConsistent","navRadar","radioBuoys","refSeaWater","satGpsBuoys","sonar","sst","trackPlotter","tripEndDate","tripEndLocation","tripStartDate","tripStartLocation","vesselDepartureDate","vesselDeparturePort","vesselLength","vms","weatherFax","xbt"],"properties":{"aircraftColour":{"type":"string","example":"blue","description":"The color"},"aircraftIRCS":{"type":"string","description":"The call sign","pattern":"[A-Z0-9-]+"},"aircraftMake":{"type":"string","example":"Boeing","description":"The make of the aircraft"},"aircraftModel":{"type":"string","example":"A380","description":"The model"},"aircraftRange":{"type":"number","format":"double","description":"The effective range of the aircraft"},"aircraftRangeUnits":{"type":"string","description":"Units of the effective range\n* KM: Kilometer\n* NM: Nautical mile","enum":["KM","NM"]},"aircraftReg":{"type":"string","description":"The registration"},"birdRadar":{"type":"boolean","description":"Bird RADAR"},"blast":{"type":"boolean","description":"Blast Or Dry Freezer"},"brail1Capacity":{"type":"number","format":"double","description":"Brail 1 (Main) Capacity (mT)"},"brail2Capacity":{"type":"number","format":"double","description":"Brail 2 (If Any) Capacity (mT)"},"captainName":{"type":"string","description":"Captain's Name'"},"captainNationality":{"type":"string","description":"Captain's Nationality"},"cellPhoneNumber":{"type":"string","description":"Number of Cell phone or blank for no cell phone "},"cfvgl":{"type":"string","description":"Commercial Fishing Vessel and gear License Number","pattern":".+"},"chillSeaWater":{"type":"boolean","description":"Sea Water Chilled"},"comments":{"type":"string","description":"Multi line comments"},"crewCount":{"type":"integer","format":"int32","description":"Total No. Of Crew Including Captain And Fishing Master"},"cruisingSpeed":{"type":"number","format":"double","description":"Cruising speed in knots"},"depthSounder":{"type":"boolean","description":"Depth Sounder"},"dopplerCurrentMeter":{"type":"boolean","description":"Doppler Current Meter"},"echoBuoys":{"type":"boolean","description":"Echo Sounding Buoys"},"engine":{"type":"number","format":"double","description":"The engine power"},"engineUnits":{"type":"string","description":"The units for engine power, required if engine is set\n* kW: Kilowatt\n* PS: Metric horse power\n* HP: Horse power","enum":["kW","PS","HP"]},"faxNumber":{"type":"string","description":"Number of facsimile or blank for no facsimile machine"},"fis":{"type":"boolean","description":"Fishery Information Services"},"flag":{"type":"string","example":"PH","description":"Vessel flag code"},"fmName":{"type":"string","description":"Fishing Master's Name'"},"fmNationality":{"type":"string","description":"Fishing Master's Nationality"},"gearType":{"type":"string","description":"Gear type\n* PS: Purse seine\n* RN: Ringnet","enum":["PS","RN"]},"gps":{"type":"boolean","description":"Global Positioning Position (GPS)"},"hold":{"type":"number","format":"double","description":"Hold capacity in metric tonnes"},"holdType":{"type":"string","description":"Fish Hold (Well) Type\n* CAT: Catcher, the vessel has its own fish hold\n* CAR: Carrier, the fishhold capacity is from the Carrier vessel","enum":["CAT","CAR"]},"ice":{"type":"boolean","description":"Ice freezer present"},"id":{"type":"string","format":"uuid","description":"ID of the form, will be assigned by the server when submitting the form"},"ifpn":{"type":"string","description":"International Fishing Permit Number","pattern":".+"},"ircs":{"type":"string","example":"DUIM-1","description":"International Radio Callsign (IRCS)","pattern":"[A-Z0-9-]+"},"markingsConsistent":{"type":"boolean","description":"Vessel Markings Consistent with CMM 2004-03"},"markingsConsistentWin":{"type":"boolean","description":"If Vessel is using WIN No. are the Markings Consistent with CMM 2004-03"},"meshBody":{"type":"number","format":"double","description":"Body dimension of nets"},"meshBunt":{"type":"number","format":"double","description":"Bunt dimension of nets"},"meshUnits":{"type":"string","description":"Units used describing the net dimensions\n* CM: Centimeters\n* INS: Inches","enum":["CM","INS"]},"meshWing":{"type":"number","format":"double","description":"Wing dimension of nets"},"navRadar":{"type":"boolean","description":"Navigation RADAR"},"netDepth":{"type":"number","format":"double","description":"The maximum depth of nets"},"netDepthUnits":{"type":"string","description":"The units for specifying the maximum depth of nets\n* MTR: Meters\n* YDS: Yards\n* FATH: Fathoms","enum":["MTR","YDS","FATH"]},"netLength":{"type":"number","format":"double","description":"The maximum length of nets"},"netLengthUnits":{"type":"string","description":"The units for specifying the maximum length of nets\n* MTR: Meters\n* YDS: Yards\n* FATH: Fathoms","enum":["MTR","YDS","FATH"]},"observerUsername":{"type":"string","description":"The observer username. Will be assigned based on the currently authentication"},"radioBuoys":{"type":"boolean","description":"Radio Buoys"},"refSeaWater":{"type":"boolean","description":"Refrigerated Sea Water"},"registration":{"type":"string","example":"35-2445433","description":"Flag state registration","pattern":"[A-Z0-9-]+"},"satGpsBuoys":{"type":"boolean","description":"Satellite / GPS Buoys"},"satPhoneNumber":{"type":"string","description":"Number or blank for no Satellite phone "},"snap":{"type":"boolean","description":"Snap freezer present"},"sonar":{"type":"boolean","description":"Sonar"},"sst":{"type":"boolean","description":"Sea Surface Temp. (sst) Gauge"},"tenderBoats":{"type":"array","description":"Tender Boats","items":{"type":"string"}},"tonnage":{"type":"number","format":"double","description":"The weight of the vessel in mT"},"tonnageUnits":{"type":"string","description":"The vessel may be registered using Gross Tonnage (GT) or in (GRT) this will be indicated on the vessel registration papers.\n* GRT: Indicated on the vessel registration paper\n* GT: Gross Tonnage","enum":["GRT","GT"]},"trackPlotter":{"type":"boolean","description":"Track Plotter"},"tripEndDate":{"type":"string","format":"date-time","example":"2020-06-15T08:31:18+05:00","description":"The end date and time"},"tripEndLocation":{"description":"The ending location","$ref":"#/definitions/Location Description"},"tripId":{"type":"string","description":"The trip that the form was completed for"},"tripStartDate":{"type":"string","format":"date-time","example":"2020-06-15T08:31:18+05:00","description":"The starting date and time of the trip specified in ship time"},"tripStartLocation":{"description":"The starting location of the trip","$ref":"#/definitions/Location Description"},"updated":{"type":"string","format":"date-time","description":"Time this form was updated/submitted to the server"},"vesselDepartureDate":{"type":"string","format":"date","example":"10-06-2020","description":"The vessel departure date"},"vesselDeparturePort":{"description":"The departure port","$ref":"#/definitions/Location Description"},"vesselLength":{"type":"number","format":"double","description":"The length of the vessel"},"vesselLengthUnits":{"type":"string","description":"The units for the vessel length field, required if vesselLength is set\n* MTR: Meters\n* YDS: Yards\n* FATH: Fathoms","enum":["MTR","YDS","FATH"]},"vesselName":{"type":"string","description":"Name of the vessel"},"vesselOwner":{"type":"string","example":"Big Boats Inc","description":"Vessel owner or company"},"vms":{"type":"array","description":"Details of on-board VMS devices","items":{"$ref":"#/definitions/FORM RN-1 - VMS Device details"}},"weatherFax":{"type":"boolean","description":"Weather Facisimile"},"win":{"type":"string","description":"WIN No","pattern":".+"},"xbt":{"type":"boolean","description":"Expendable Bathythermograph (XBT)"}},"title":"FORM RN-1","description":"PS/RN1 information report"},"FORM RN-1 - VMS Device details":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of VMS for example MMSI "},"name":{"type":"string","description":"Name of VMS device "}},"title":"FORM RN-1 - VMS Device details"},"FORM RN-2":{"type":"object","required":["associatedSchools","dateTime","freeSchools"],"properties":{"activities":{"type":"array","description":"List of activities","items":{"$ref":"#/definitions/FORM RN-2 - Activity"}},"associatedSchools":{"type":"integer","format":"int32","description":"Number of associated schools"},"dateTime":{"type":"string","format":"date-time","example":"2020-06-15T08:31:18+05:00","description":"Start of daily activity date and time, should be in ship time and include the relevant timezone info. ISO 8601 + timezone"},"freeSchools":{"type":"integer","format":"int32","description":"Number of free schools"},"id":{"type":"string","format":"uuid","description":"ID of the form, will be assigned by the server when submitting the form"},"observerUsername":{"type":"string","description":"The observer username. Will be assigned based on the currently authentication"},"tripId":{"type":"string","description":"The trip that the form was completed for"},"updated":{"type":"string","format":"date-time","description":"Time this form was updated/submitted to the server"}},"title":"FORM RN-2","description":"PS/RN-2 Daily Activity report"},"FORM RN-2 - Activity":{"type":"object","required":["activity","association","date","method","position","sea"],"properties":{"activity":{"type":"string","description":"Activity code\n* SET: Set\n* SEARCHING: Searching\n* TRANSIT: Transit (Fishing Gear Stowed)\n* BREAKDOWN: No fishing - Breakdown\n* BAD_WEATHER: No fishing - Bad weather\n* IN_PORT: In port - Please specify port\n* NET_CLEANING: Net cleaning set\n* INVEST_FREE_SCHOOL: Investigate free school\n* INVEST_FLOATING_OBJECT: Investigate floating object\n* DEPLOY: Deploy - Raft, FAD or paylao\n* RETRIEVE: Retrieve - Raft, FAD or payao\n* DRIFT_DAYS_END: No fishing - Drifting at day's end\n* DRIFT_FLOATING_OBJECT: No fishing - Drifting with floating object\n* OTHER: No fishing - Other reason (specify)\n* DRIFT: Drifting - With fish aggregating lights\n* RET_RADIO_BUOY: Retrieve radio buoy\n* DEPLOY_RADIO_BUOY: Deploy radio buoy\n* TRANS_OR_BUNK: Transhipping or bunkering\n* SERVICE_FAD: Servicing FAD or Floating Object\n* HELI_TAKEOFF: Helicopter takes off to search\n* HELI_RETURN: Helicopter returned from search","enum":["SET","SEARCHING","TRANSIT","BREAKDOWN","BAD_WEATHER","IN_PORT","NET_CLEANING","INVEST_FREE_SCHOOL","INVEST_FLOATING_OBJECT","DEPLOY","RETRIEVE","DRIFT_DAYS_END","DRIFT_FLOATING_OBJECT","OTHER","DRIFT","RET_RADIO_BUOY","DEPLOY_RADIO_BUOY","TRANS_OR_BUNK","SERVICE_FAD","HELI_TAKEOFF","HELI_RETURN"]},"association":{"type":"integer","format":"int32","description":"School association\n* 1: Unassociated\n* 2: Feeding on Bait fish\n* 3: Drifting log, debris, dead animal\n* 4: Drifting Raft, FAD, Payload\n* 5: Anchored Raft, FAD, Payload\n* 6: Live whales/marine mammals\n* 7: Live whale shark\n* 8: Other floating object\n* 9: No tuna associated","enum":[1,2,3,4,5,6,7,8,9]},"comments":{"type":"string","description":"Extra comments, multiline"},"date":{"type":"string","format":"date-time","example":"2020-06-15T08:31:18+05:00","description":"Date and time the activity took place, should be in ship time, ISO 8601 + timezone"},"method":{"type":"integer","format":"int32","description":"How was detection performed?\n* 1: Seen from vessel\n* 2: Seen from helicopter\n* 3: Marked and beacon\n* 4: Bird radar\n* 5: Sonar / depth sounder\n* 6: Info. From other vessel.\n* 7: Anchored FAD/payload (recorded","enum":[1,2,3,4,5,6,7]},"position":{"description":"Location the activity took place","$ref":"#/definitions/Geographic Position"},"sea":{"type":"string","description":"Sea condition\n* C: Calm\n* S: Slight\n* M: Moderate\n* R: Rough","enum":["C","S","M","R"]}},"title":"FORM RN-2 - Activity"},"FORM RN-3":{"type":"object","required":["brailing","fishCarrierHolds","observerEstimates","observerStart","recoveredTags","sequenceTimes","setNo","special","totalObserverEstimate","totalVesselEstimate","vesselLogged","vesselStart"],"properties":{"brailing":{"description":"The brailing tallies","$ref":"#/definitions/FORM RN-3 - Brailing tallies"},"comments":{"type":"string","description":"Multiline comments"},"fishCarrier":{"type":"string","description":"Name of the fish carrier"},"fishCarrierHolds":{"type":"array","description":"Holds used on the fish carrier","items":{"type":"string"}},"id":{"type":"string","format":"uuid","description":"ID of the form, will be assigned by the server when submitting the form"},"observerEstimates":{"type":"array","description":"Record of the estimated retained and discarded catch made by the observer\nThere should be only one record for each pair of species and fate","items":{"$ref":"#/definitions/FORM RN-3 - Fate record (Observer Estimate)"}},"observerStart":{"type":"string","format":"date-time","description":"Record the start of set usually recorded when the pelican hook is released and net skiff slides to the water taking the net with it"},"observerUsername":{"type":"string","description":"The observer username. Will be assigned based on the currently authentication"},"recoveredTags":{"type":"array","description":"List of recovered tags","items":{"$ref":"#/definitions/FORM RN-3 - Recovered tag"}},"sequenceTimes":{"description":"The sequence times","$ref":"#/definitions/FORM RN-3 - Sequence times"},"setNo":{"type":"integer","format":"int32","description":"The set number"},"special":{"type":"array","description":"Record of each species of special interest that was handled during the set","items":{"$ref":"#/definitions/FORM RN-3 - Record of species of special interest"}},"totalObserverEstimate":{"type":"number","format":"double","description":"Observers total catch estimate in mT"},"totalVesselEstimate":{"type":"number","format":"double","description":"The vessel captains total catch estimate in mT"},"tripId":{"type":"string","description":"The trip that the form was completed for"},"updated":{"type":"string","format":"date-time","description":"Time this form was updated/submitted to the server"},"vesselLogged":{"type":"array","description":"Record of the retained and discarded catch entered to the vessel log\nThere should be only one record for each pair of species and fate","items":{"$ref":"#/definitions/FORM RN-3 - Fate record (Vessel Estimate)"}},"vesselStart":{"type":"string","format":"date-time","description":"The time that was entered in the log for the same set"}},"title":"FORM RN-3"},"FORM RN-3 - Brailing tallies":{"type":"object","required":["full","half","oneEighth","oneQuarter","oneThird","sevenEighth","threeQuarters","twoThirds"],"properties":{"full":{"type":"integer","format":"int32"},"half":{"type":"integer","format":"int32"},"oneEighth":{"type":"integer","format":"int32"},"oneQuarter":{"type":"integer","format":"int32"},"oneThird":{"type":"integer","format":"int32"},"sevenEighth":{"type":"integer","format":"int32"},"threeQuarters":{"type":"integer","format":"int32"},"twoThirds":{"type":"integer","format":"int32"}},"title":"FORM RN-3 - Brailing tallies"},"FORM RN-3 - Fate record (Observer Estimate)":{"type":"object","required":["fate","species"],"properties":{"count":{"type":"integer","format":"int32","description":"The number that was either retains or discarded"},"fate":{"type":"string","description":"The fate code for this record\n* RWW: Retained - Whole weight\n* RHG: Retained - Headed and gutted (billfish only)\n* RGG: Retained - Gilled and gutted (kept for sale)\n* RPT: Retained - Partial (e.g. fillet, loin)\n* RCC: Retained - Crew consumption (onboard)\n* ROR: Retained - Other reason (specify)\n* RFR: Retained trunk - Fins retained (shark only)\n* DFR: Discarded trunk - Fins retained (shark only\n* DTS: Discarded - Too small (tuna only)\n* DGD: Discarded - Gear damage\n* DVF: Discarded - Vessel fully loaded\n* DUD: Discarded - Unwanted species\n* DSD: Discarded - Shark damage\n* DWD: Discarded - Whale damage\n* DPQ: Discarded - Poor quality\n* DPA: Discarded - Species of special interest - Alive\n* DPD: Discarded - Species of special interest - Dead\n* DPU: Discarded - Species of special interest - Unknown condition\n* DOR: Discarded - Other reasons\n* ESC: Escaped","enum":["RWW","RHG","RGG","RPT","RCC","ROR","RFR","DFR","DTS","DGD","DVF","DUD","DSD","DWD","DPQ","DPA","DPD","DPU","DOR","ESC"]},"species":{"type":"string","description":"Species code"},"weight":{"type":"number","format":"double","description":"The weight that was either kept or discarded"}},"title":"FORM RN-3 - Fate record (Observer Estimate)","description":"A record of the fate of an amount of catch. Either weight or count must be set, not both"},"FORM RN-3 - Fate record (Vessel Estimate)":{"type":"object","required":["fate","species"],"properties":{"count":{"type":"integer","format":"int32","description":"The number that was either retains or discarded"},"fate":{"type":"string","description":"The fate code for this record\n* RWW: Retained - Whole weight\n* RHG: Retained - Headed and gutted (billfish only)\n* RGG: Retained - Gilled and gutted (kept for sale)\n* RPT: Retained - Partial (e.g. fillet, loin)\n* RCC: Retained - Crew consumption (onboard)\n* ROR: Retained - Other reason (specify)\n* RFR: Retained trunk - Fins retained (shark only)\n* DFR: Discarded trunk - Fins retained (shark only\n* DTS: Discarded - Too small (tuna only)\n* DGD: Discarded - Gear damage\n* DVF: Discarded - Vessel fully loaded\n* DUD: Discarded - Unwanted species\n* DSD: Discarded - Shark damage\n* DWD: Discarded - Whale damage\n* DPQ: Discarded - Poor quality\n* DPA: Discarded - Species of special interest - Alive\n* DPD: Discarded - Species of special interest - Dead\n* DPU: Discarded - Species of special interest - Unknown condition\n* DOR: Discarded - Other reasons\n* ESC: Escaped","enum":["RWW","RHG","RGG","RPT","RCC","ROR","RFR","DFR","DTS","DGD","DVF","DUD","DSD","DWD","DPQ","DPA","DPD","DPU","DOR","ESC"]},"species":{"type":"string","description":"Species code"},"weight":{"type":"number","format":"double","description":"The weight that was either kept or discarded"}},"title":"FORM RN-3 - Fate record (Vessel Estimate)","description":"A record of the fate of an amount of catch. Either weight or count must be set, not both"},"FORM RN-3 - Record of species of special interest":{"type":"object","required":["caught","released","species"],"properties":{"caught":{"type":"string","description":"Condition when caught\n* A0: Not Categorised\n* A1: Alive Healthy\n* A2: Alive Injured\n* A3: Alive but dying\n* D: Dead\n* U: Condition unknown","enum":["A0","A1","A2","A3","D","U"]},"released":{"type":"string","description":"Condition when released\n* A0: Not Categorised\n* A1: Alive Healthy\n* A2: Alive Injured\n* A3: Alive but dying\n* D: Dead\n* U: Condition unknown","enum":["A0","A1","A2","A3","D","U"]},"species":{"type":"string","description":"Species code"}},"title":"FORM RN-3 - Record of species of special interest"},"FORM RN-3 - Recovered tag":{"type":"object","required":["species"],"properties":{"number":{"type":"string","description":"Tag Number","pattern":"^[A-Z]-[0-9]{6}$"},"species":{"type":"string","description":"The species"}},"title":"FORM RN-3 - Recovered tag","description":"Details of any tags retrieved"},"FORM RN-3 - Sequence times":{"type":"object","required":["beginBrailing","beginPursing","end","endBrailing","endPursing","start"],"properties":{"beginBrailing":{"type":"string","description":"Begin Brailing"},"beginPursing":{"type":"string","description":"Begin Pursing (Winch ON)"},"end":{"type":"string","description":"End of set (Next Activity start)"},"endBrailing":{"type":"string","description":"End Brailing"},"endPursing":{"type":"string","description":"End Pursing (Rings Up)"},"start":{"type":"string","description":"Start of set (SKIFF OFF)"}},"title":"FORM RN-3 - Sequence times"},"FORM RN-4":{"type":"object","required":["brailEnd","brailStart","brailType","instrument","sampleType","samples","setType","startTime","totals"],"properties":{"brailEnd":{"type":"string","example":"0810","description":"End of brailing"},"brailStart":{"type":"string","example":"0645","description":"Start of brailing"},"brailType":{"type":"string","description":"Brail type","enum":["BRAIL1","BRAIL2"]},"id":{"type":"string","format":"uuid","description":"ID of the form, will be assigned by the server when submitting the form"},"instrument":{"type":"string","description":"Record whether calipers, measuring board, flat ruler or deck tape was used.\n* AC: Aluminium caliper\n* MB: Measuring board\n* DT: Deck tape\n* OTR: Other","enum":["AC","MB","DT","OTR"]},"observerUsername":{"type":"string","description":"The observer username. Will be assigned based on the currently authentication"},"sampleType":{"type":"integer","format":"int32","description":"Sampling type\n* 0: Grab\n* 1: Spill\n* 2: Other","enum":[0,1,2]},"sampleValue":{"type":"integer","format":"int32","example":1,"description":"The sample value, dependant on the set type"},"samples":{"type":"array","description":"Sampling of length for catch set","items":{"$ref":"#/definitions/FORM RN-4 - Sample"}},"setType":{"type":"integer","format":"int32","description":"Set type\n* 0: Free school\n* 1: Floating object","enum":[0,1]},"startTime":{"type":"string","format":"date-time","description":"Start of set usually recorded when the pelican hook is released and net skiff slides to the water taking the net with it"},"totals":{"type":"array","description":"The totals, one record per species","items":{"$ref":"#/definitions/FORM RN-4 - Sample total"}},"tripId":{"type":"string","description":"The trip that the form was completed for"},"updated":{"type":"string","format":"date-time","description":"Time this form was updated/submitted 
[...]
